<component name="ArtifactManager">
  <artifact type="war" name="springdemo3:war2">
    <output-path>$PROJECT_DIR$/out/artifacts/springdemo3_war2</output-path>
    <root id="archive" name="springdemo3_war.war">
      <element id="artifact" artifact-name="springdemo3:war exploded" />
    </root>
  </artifact>
</component>